.main {
  // padding: 1rem 0;

  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(13, 32, 58, 0.2);
  backdrop-filter: blur(4px);
  z-index: 100;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  position: absolute;
  height: 100vh;
  width: 80%;
  top: 0;
  left: 20%;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  transition-timing-function: cubic-bezier(0.72, 0.35, 0.93, 1);
  body:not([data-nav="true"]) > & {
    width: 100%;
    left: 0;
  }
}
.showPage {
  transform: translateX(0);
  z-index: 99;
  box-shadow: 3px 0px 20px 10px rgba(0, 0, 0, 0.75);
}
.pageId {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform: translateX(-50%);
  opacity: 0.4;
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 103;
  &:hover {
    opacity: 1;
    cursor: pointer;
    span {
      width: 100%;
    }
  }
  span {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
}
.page:has(.pageId:hover):not(.showPage) {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateX(calc(100% - 2.2rem));
  box-shadow: 3px 0px 20px 10px rgba(0, 0, 0, 0.75);
  z-index: 100;
}
body:not([data-nav="true"]) > .page:has(.pageId:hover):is(.showPage) {
  transform: translate(2rem);
}
.pageIdHome {
  background-color: $palete2-1;
  top: 50%;
}
.pageIdAbout {
  background-color: $palete2-2;
  top: 60%;
}
.pageIdContact {
  background-color: $palete2-4;
  top: 80%;
}
.pageIdWork {
  background-color: $palete2-3;
  top: 70%;
}
