$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 600px;

$color: #3586ff;
$color1: #440d0f;
$color2: #99c24d;
$color3: #ff934f;
$color4: #f8f4f9;
$color5: #545e75;
$color5: #a2c5ac;
$color6: #161616;
$color7: #39ff14;

$palete2-1: #80acff;
$palete2-2: #ff2e00;
$palete2-3: #fea82f;
$palete2-4: #a2d729;

$color-1: #c24328;
$color-2: #fcbc29;
$color-3: #a2ab28;
$color-4: #36907e;
$color-5: #3b4e3f;

$night-sky: #404487;
$night-sky1: #0e1648;
$night-sky2: #161d2f;
$aurora: hsl(163, 72%, 10%);
$night-sky4: #100c04;
$star: #c3c3c3;
$star1: #fbe83c;

$font1: "Open Sans", sans-serif;
$font2: "Poppins", sans-serif;
$font3: "Roboto", sans-serif;
